<!DOCTYPE html>
<html>
<head>
	<title>Astarael</title>
	<script data-main="static/js/main" src="static/js/lib/require.js"></script>
	<!--<script type="application/javascript" src="static/js/lib/jquery.js"></script>
	<script type="application/javascript" src="static/js/lib/d3.js"></script>
	<script type="application/javascript" src="static/js/lib/crossfilter.js"></script>
	<script type="application/javascript" src="static/js/library.js"></script>-->
	<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="static/css/style.css">
</head>
<body>
	<div id="header">
		<h1>Astarael</h1>
		<button id="btnSettings" style="float: right">Settings</button>
	</div>
	<div id="middle">
		<div id="playqueue_view">
			Play Queue
			<ul id="playqueue_list">
			</ul>			
		</div>
		<div id="mainview">
			<div id="loadingview">
			</div>
			<div id="artistview" class="invisible">

			</div>
			<div id="albumview" class="invisible">

			</div>
			<div id="trackview" class="invisible">
				<img id="trackview_albumart" />
				<div id="trackview_title"></div>
				<div id="trackview_discs"></div>
			</div>
			<div id="tracktable" class="invisible">
				<table>
					<thead>
						<tr>
							<th>Artist</th>
							<th>Album</th>
							<th>Date</th>
							<th>Disc</th>
							<th>Track</th>
							<th>Title</th>
						</tr>
					</thead>
					<tbody>
					</tbody>
				</table>
			</div>
			<div id="settingsview" class="invisible">

			</div>
		</div>
	</div>
	<div id="player">
		<audio id="player1" controls autoplay></audio>
	</div>
</body>	
</html>