<!DOCTYPE html>
<html>
<head>
	<title>Astarael</title>
	<script type="application/javascript" src="static/js/jquery.js"></script>
	<script type="application/javascript" src="static/js/d3.v3.js"></script>
	<script type="application/javascript" src="static/js/crossfilter.js"></script>
	<script type="application/javascript" src="static/js/library.js"></script>
	<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="static/css/style.css">
</head>
<body>
	<div id="header">
		<h1>Astarael</h1>
	</div>
	<div id="middle">
		<div id="playqueueview">
			playlist
		</div>
		<div id="mainview">
			<div id="libraryview">
				<div id="tracktable">
					<table>
						<thead>
							<tr>
								<th>Artist</th>
								<th>Album</th>
								<th>Date</th>
								<th>Disc</th>
								<th>Track</th>
								<th>Title</th>
							</tr>
						</thead>
						<tbody>
						</tbody>
					</table>
				</div>
			</div>
			<div id="trackview" style="display: none">
				<img id="albumart" />
			</div>
		</div>
	</div>
	<div id="player">
		player
		<audio id="player1" autoplay></audio>
	</div>
</body>	
</html>