html {
	font-family: Roboto, sans-serif;
	font-size: 12px;
}

html, body {
	margin: 0px;
	padding: 0px;
	height: 100%;
	overflow: hidden;
}

div#header {
	height: 120px;
}

div#middle {
	height: calc(100% - 240px);
}

div#playqueueview {
	width: 240px;
	height: 100%;
	background-color: #cccccc;
	position: fixed;
	padding: 20px;
}

div#mainview {
	padding-left: 240px;
	height: 100%;
}

div#libraryview {
	height: 100%;
}

div#tracktable {
	height: 100%;
	overflow: auto;
}

div#player {
	position: fixed;
	bottom: 0px;
	height: 120px;
	width: 100%;
	clear: both;
	background-color: #222222;
	color: #dddddd;
}

h1 {
	margin: 0px;
	padding: 1em;
}

ul.playqueue {

}

table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
}

td, th {
	border: 1px solid #aaaaaa;
	padding: 4px;
}

	tr:hover {
		background-color: #eeeeee;
	}
