.invisible {
	display: none;
}

html {
	font-family: Roboto, sans-serif;
	font-size: 12px;
}

html, body {
	margin: 0px;
	padding: 0px;
	height: 100%;
	overflow: hidden;
}

div#header {
	height: 120px;
	background-color: #ddeeff;
}

div#middle {
	height: -webkit-calc(100% - 240px);
	height: calc(100% - 240px);
}

div#playqueue_view {
	width: 240px;
	height: 100%;
	background-color: #cccccc;
	float: left;
}

ul#playqueue_list {
}

	ul#playqueue_list li {
		list-style: none none outside;
		cursor: pointer;
	}

		ul#playqueue_list li:hover {
			list-style: none none outside;
			background-color: #bbbbbb;
		}

		ul#playqueue_list li.current {
			list-style-image: url(/static/img/now-playing.svg);
		}

div#mainview {
	padding-left: 240px;
	height: 100%;
}

div#loadingview {
	background: url("/static/img/ajax-loader.gif") no-repeat center center;
}

div#libraryview {
	height: 100%;
}

div#artistview {
}

div.tile {
	border: 1px solid #bbbbbb;
	border-radius: 3px;
	box-shadow: 3px 3px 3px #bbbbbb;
	width: 360px;
	height: 96px;
	padding: 5px;
	cursor: pointer;
	margin: 10px;
	clear: none;
	float: left;
}
	div.tile img {
		width: 96px;
		height: 96px;
		float: left;
		margin-right: 5px;
	}

	div.tile div.title {
		font-size: 15px;
		font-weight: 700;
		/*text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;*/
	}

	div.tile:hover {
		background-color: #f7f7f7;
	}

	div.tile:hover div.title {
		text-decoration: underline;
	}

	div.tile div.detail {
		padding-left: 4px;
		color: #aaaaaa;
	}

div#mainview>div {
	height: 100%;
	overflow: auto;
}

img#trackview_albumart {
	width: 192px;
	height: 192px;
	/*float: left;*/
}

div#trackview_title {
	font-size: 18px;
	font-weight: 700;
}

div#trackview_discs {
	padding-left: 4px;
}

div.trackview_disc {
	padding-top: 4px;
}

div.trackview_discheader {
	font-weight: 700;
}

div.trackentry {
	padding: 3px 0px 3px 4px;
	cursor: pointer;
}

	div.trackentry:hover {
		background-color: #f7f7f7;
	}

div.link {
	cursor: pointer;
	color: #8888ff;
	padding: 4px;
	width: 260px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

	div.link:hover {
		text-decoration: underline;
	}

.success {
	color: green;
}

.failure {
	color: red;
}

div#player {
	position: fixed;
	bottom: 0px;
	height: 120px;
	width: 100%;
	clear: both;
	background-color: #222222;
	color: #dddddd;
}

div.error_box {
	padding: 20px;
	background-color: #eecccc;
	border: 1px solid #bb2222;
	border-radius: 12px;
	width: 200px;
}

h1 {
	margin: 0px;
	padding: 1em;
}

ul.playqueue {

}

table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
}

td, th {
	border: 1px solid #aaaaaa;
	padding: 4px;
}

	tr:hover {
		background-color: #eeeeee;
	}

audio {
	width: 100%;
}